<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('head'); %>

    <body>
        <script src="static/views/js/ready.js" charset="utf-8"></script>

        <%- include('mainMenu'); %>

        <div class="content">
          <div class = "banner">
              <div class="bannerPhoto">
                <img src="static/views/img/cover_image/getInvolvedCropped.jpg">
                <div class="bannerText getInvolvedPage small"> Join us   <span class="punctuation">!</span>
                </div>
              </div>
          </div> <!-- banner -->
          <div class="mainText">
              <p> We are always recruiting UC Davis students who share our motivations to join our pool of volunteers. SOAR mentorship involves the following: ​</p>

              <h1> Emotional intelligence.</h1>
              <p> Students at COA come from diverse backgrounds. Most students speak English, but for many of them it is their second language, and it may not be the preferred language that their family speaks at home. Also, although COA serves a community primarily composed of Eastern Bloc immigrants, there is incredible diversity within this group, and sensitivity to related nuances is required. </p>

              <h1> ​STEM-thusiasm! </h1>
              <p>  ​Our primary goal is to open minds to the diverse opportunities in STEM. Having passion for a STEM-related topic and being willing to share that enthusiasm has a massive impact on the students. </p>

              <h1> Time. </h1>
              <p> Volunteering comes in many forms, but your time is the most important contribution. Attendance of monthly half-day visits to COA and the weekly half-hour volunteer meetings are the most desirable commitments, but there are always creative and administrative tasks behind-the-scenes that need fulfillment. </p>

              <div class="slogan">
                  If you enjoy sharing your STEM-thusiasm and meet the criterion above, please contact us. We look forward to meeting you!
              </div>
          </div>

          <div class="formContainer maxWidthContainer">
              <div class="form">
                    <h2 class="formTitle">Get in touch!</h2>
                    <span class="formRequired">*</span> Indicates required field
                    <div class="nameFieldContainer">
                        <div class="formField name-field">
                            <label class="formLabel">Name <span class="formRequired">*</span></label>

                            <div class="formInputContainer formInputFirstName">
                              <input aria-required="true" id="input-232031953781100961" class="wsite-form-input wsite-input" placeholder="First" type="text" name="_u232031953781100961[first]">
                            </div>
                            <div class="wsite-form-input-container wsite-form-right wsite-form-input-last-name">
                              <input aria-required="true" id="input-232031953781100961-1" class="wsite-form-input wsite-input" placeholder="Last" type="text" name="_u232031953781100961[last]">
                            </div>
                        </div>
                    </div><!-- nameFieldContainer -->

                    <div class="emailFieldContainer">
                        <div class="wsite-form-field">
                            <label class="wsite-form-label" for="input-269503206994489523">Email <span class="form-required">*</span></label>
                            <div class="wsite-form-input-container">
                              <input aria-required="true" id="input-269503206994489523" class="wsite-form-input wsite-input wsite-input-width-370px" type="text" name="_u269503206994489523">
                            </div>
                        </div>
                    </div><!-- emailFieldContainer -->

                    <div class="commentFieldContainer">
                        <div class="wsite-form-field">
                            <label class="wsite-form-label" for="input-809404709562461861">Comment <span class="form-required">*</span></label>
                            <div class="wsite-form-input-container">
                                <textarea aria-required="true" id="input-809404709562461861" class="wsite-form-input wsite-input wsite-input-width-370px" name="_u809404709562461861" style="height: 200px"></textarea>
                            </div>
                        </div>
                    </div> <!-- commentFieldContainer -->
              </div> <!-- form -->
              <div class="socialContractContainer">
                  <img src="https://soarucd.weebly.com/uploads/1/3/1/7/131766630/6faca903-69b8-4886-885e-7ce75b6ab57f-rw-1200_orig.jpg">
                  <div class="caption"> social contract social contract social contract social contract </div>
              </div>
          </div>


      </div>  <!-- content  -->

      <%- include('footer'); %>
    </body>


    <script type="text/javascript">
        let data = <%- text %>
    </script>

    <link rel="stylesheet" href="static/views/css/style.css">
    <!-- <script src="static/views/js/soar-classes-activities.js" charset="utf-8"></script> -->


</html>
