<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('head'); %>

    <body>
        <script src="static/views/js/ready.js" charset="utf-8"></script>

        <%- include('mainMenu'); %>

        <div class="content">

          <div class = "banner">
              <div class="bannerPhoto">
                  <img src="static/views/img/cover_image/homepageCropped.jpg
                  ">
                  <div class="bannerText indexPage small"> Welcome to SOAR <span class="punctuation">!</span> </div>
              </div>
          </div> <!-- banner -->
          <div class = "contentText maxWidthContainer">
            <h1>Are you ready to take flight?</h1>
            <h4>STEM Outreach Academic Enforcement</h4>
          </div> <!-- contentText -->

          <div class="originsAndMissions maxWidthContainer">
            <div class="origins textbox">
                <h2> Our Origins </h2>
                SOAR (STEM Outreach Academic Reinforcement) is a volunteer organization with the goal of introducing 5th-grade students (mentees) to the concepts and future opportunities in STEM. It is a collaboration between UC Davis, the Aerospace Museum of California, and the Community Outreach Academy (COA). While SOAR’s UC Davis arm is spearheaded by two research laboratories, <a> RASCAL </a> and <a> HRVIP </a>, in the Mechanical and Aerospace Engineering department, our volunteer base is composed of UC Davis students of all majors who are enthusiastic about making STEM a more inclusive field.
            </div> <!-- origins -->
            <div class="missions textbox">
              <h2> Our Mission </h2>
              SOAR's primary objective is to provide mentorship to students from underserved and underrepresented communities by bringing mentees face to face with UC Davis students in a collaborative, academic setting. The desired outcome is to develop connections between the mentors and mentees by learning and working together.
              This collaboration takes place via monthly modules in which mentors travel to COA to interact with mentees face-to-face. This interaction usually involves working in a structured environment designed by the elementary school teachers to help reinforce the curriculum. It is in these small group settings that the mentees develop relationships with the mentors, naturally providing the mentees with a lens into the world of higher education.
            </div> <!-- missions -->
        </div>  <!-- originsAndMissions  -->
      </div>  <!-- content  -->

      <%- include('footer'); %>
    </body>


    <script type="text/javascript">

    </script>

    <link rel="stylesheet" href="static/views/css/style.css">
    <!-- <script src="static/views/js/main.js" charset="utf-8"></script> -->


</html>
